/** biome-ignore-all lint/suspicious/noUnknownAtRules: Tailwind does exist though isn't being detected */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@keyframes enterAnimation {
	0% {
		opacity: 0;
		transform: translateX(100vw);
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes exitAnimation {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-100vw);
	}
}

.entering {
	animation: enterAnimation 0.3s ease-out;
}

.exiting {
	opacity: 0;
	animation: exitAnimation 0.3s cubic-bezier(0.86, 0.12, 0.91, 0.68);
}

.exited {
	opacity: 0;
}
